.background {
    background-color: royalblue;
    animation: visibility 1.5s reverse 4s;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.schrift {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    zoom: 150%;
    opacity: 0;
}

@keyframes moveLeft {
    from {
        left: 50%;
    }

    to {
        left: 38%;
    }
}

@keyframes moveRight {
    from {
        left: 50%;
    }

    to {
        opacity: 1;
    }
}

@keyframes visibility {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.logo {
    animation: moveLeft 2s forwards 1s, moveToTopLogo 1s forwards 3s;


}

.schrift {
    animation: moveRight 3s forwards;
    animation: visibility 1s forwards 2s, moveToTopSchrift 1s forwards 3s;
}



@keyframes moveToTopLogo {
    from {
        top: 50%;
        height: 35%;
        width: 35%;
    }

    to {
        height: 13%;
        width: 13%;
        top: 6%;
        left: 4%;
    }
}

@keyframes moveToTopSchrift {
    from {
        height: 35%;
        width: 35%;
        top: 50%;
    }

    to {
        height: 8%;
        width: 8%;
        top: 6%;
        left: 9.5%;
    }
}


.card {
    margin: 20px;
    margin-top: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    opacity: 0;
    animation: visibility 1s forwards 4s;
}

a {
    font-family: 'Figtree' !important;
    font-size: 18px;
    color: #797EF3;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    opacity: 0;
    animation: visibility 1s forwards 4s;

}

@media (max-width: 650px) {
    .mobile-container {
        width: 100% !important;
    }

    .mobile-view {
        display: none !important;
    }
}

.logincard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}