.bg-color {
    background-color: royalblue;
    animation: visibility 1.5s reverse 4s, change-bg forwards 5s;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.full-pos {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background {
    animation: moveTheBGToTop 4s forwards 2s;
    position: absolute;
    // top: 50%;
}

span {
    font-size: 116px;
    color: white;
    font-weight: 700;
    animation: moveTheFontToTop 2s forwards 2s;
}

.cursor {
    font-weight: 200 !important;
}

.logo {
    animation: rotate 1s forwards 1s, moveTheLogoToTop 2s forwards 2s;
}

.animate-logo {
    position: relative;
    animation: change-gap 2s forwards 2s;
}

@keyframes change-gap {
    from {
        gap: 48px;
    }

    to {
        gap: 12px;
    }
}

@keyframes change-bg {
    from {
        background-color: royalblue;
    }

    to {
        background-color: #ECEEFE;
    }
}

@keyframes moveTheLogoToTop {
    from {
        width: 188px;
    }

    to {
        width: 72px;
    }
}

@keyframes moveTheBGToTop {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    to {
        top: 16px;
        left: 15px;
    }
}

@keyframes moveTheBGToTopMobile {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    to {
        top: 32px;
        left: 50%;
        padding-right: 173px;
        transform: translate(-50%);
    }

}

@keyframes moveTheFontToTop {
    from {
        font-size: 116px;
        color: white;
        font-weight: 700;
    }

    to {
        font-size: 31px;
        font-weight: 700;
        color: black;
        letter-spacing: 1px;
    }
}

@keyframes visibility {
    from {

        z-index: 2;
        opacity: 0;
    }

    to {
        z-index: -1000;
        opacity: 1;
    }
}


@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.card {
    margin-top: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    opacity: 0;
    animation: visibility 1s forwards 4s;
    // width: -webkit-fill-available;
    // width: 570px;
}

a {
    font-family: 'Figtree' !important;
    font-size: 18px;
    color: #797EF3;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    opacity: 0;
    animation: visibility 1s forwards 4s;

}

@media (max-width: 1250px) {
    span {
        display: none !important;
    }


}

@media (max-width: 650px) {
    .background {
        animation: moveTheBGToTopMobile 4s forwards 2s;
    }

    .mobile-container {
        width: 100% !important;
    }

    .mobile-view {
        display: none !important;
    }

}

.logincard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}