<section
  class="flex align-items-center justify-content-center h-screen w-screen full-pos"
>
  <div class="bg-color h-full w-full"></div>
  <div class="background">
    <div
      class="animate-logo h-full w-full flex align-items-center justify-content-center"
    >
        <img class="logo" src="/img/big_logo.svg" alt="" />
      <span>{{ displayedTextWithoutCursor }}</span
      ><span class="cursor">{{ cursor }}</span>
    </div>
  </div>

  <!-- <app-header></app-header> -->
  <div
    class="logincard h-full w-full flex align-items-center justify-content-center"
  >
    <div class="w-9 mobile-container">
      <div
        class="flex flex-column w-full align-items-center justify-content-center"
      >
        <div
          class="card flex flex-column align-items-center justify-content-center h-8"
        >
          <app-login></app-login>
        </div>

        <div class="flex gap-8 mobile-view">
          <a>Impressum</a>
          <a>Datenschutz</a>
        </div>
      </div>
    </div>
  </div>
</section>
