section {
    max-width: 606px;
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
}

mat-card-title {
    color: #444DF2;
    font-size: clamp(1.5rem, 3.7206vw + 1.2574rem, 3rem);

    font-weight: 700;
    text-align: center;
}


.arrow-back {
    position: absolute;
    top: 48px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/arrow-back.svg);

    &:hover {
        cursor: pointer;
        background-color: #ECEEFE;
        border-radius: 100%;
        transition: 125ms;
        background-image: url(/img/arrow-back-hover.svg);
    }
}

input {
    width: 100%;
    height: 60px;
    font-size: 16px;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: #ECEEFD;
    border: 1px solid white;
    outline: none;
    padding-left: 16px;

    ::placeholder {
        font-size: 18px;
    }

    &:hover {
        border: 1px solid #ADB0D9
    }

    &:focus {
        border: 1px solid #9747FF;
    }
}

.alert {
    color: red;
    font-size: 14px;
    margin: 5px;
}

button {
    height: 49px;

    &:disabled {
        background-color: #ECEEFD;
        color: #ADB0D9;
        cursor: not-allowed;
    }
}

@media (max-width: 540px) {

    section {
        padding: 24px;
    }


    .mobile-view {
        width: 21rem !important;
    }

}

@media (max-width: 450px) {

    .mobile-view {
        width: 18rem !important;
    }

}

@media (max-width: 400px) {

    .mobile-view {
        width: 16rem !important;
    }

}

@media (max-width: 350px) {

    .mobile-view {
        width: 12rem !important;
    }

}

@media (max-height: 1000px) {

    mat-card-title {
        font-size: 32px;
    }

    input {
        height: 40px;
    }

    button {
        height: 40px;
        font-size: 12px !important;
    }
}