
<section class=" w-full relative flex flex-column justify-content-between align-items-center">

    <div (click)="goBack()" class="arrow-back"></div>

    <mat-card-title>Passwort zurücksetzen</mat-card-title>


   <div class="w-25rem flex flex-column" style="gap: 40px; padding: 32px 0 0 0;">
    <div class="w-full">
        <input type="password" #password="ngModel" [(ngModel)]="newPassword" placeholder="Neues Passwort" name="password" required>
       
    </div>

    <div class="w-full">
        <input type="password" #password2="ngModel" [(ngModel)]="newPassword2" placeholder="Passwort bestätigen" name="password2" required>
        @if (!password2.valid && !password2.disabled && password2.touched) {<div class="alert"> <span>*Passwort stimmt nicht überein.</span></div>}
    </div>


    <div class="w-full flex justify-content-end">
        <button  mat-flat-button class="text-lg font-bold" (click)="changepassword()">Passwort ändern</button>
    </div>
   </div>
</section>