
@if (activeUser) {
<div class="flex justify-content-between align-items-center p-3">
    <img src="/img/logo.svg" alt="">
    <input type="search" aria-label="awd" [(ngModel)]="searchInput" placeholder="Search bar">
    <div (click)="openMenu()" class="flex align-items-center cursor-pointer">
        <p class="userName">{{activeUser.username}}</p>
        <div class="ml-2 mr-2 relative img-container">
            <img class="profileimg" src="{{activeUser.avatar}}" alt="">
            <div class="online-status"></div>
        </div>
        <img class="ml-2" src="/img/arrow-down.svg" alt="">
    </div>
</div>
@if (!activeGoogleUser.emailVerified) {
<div class="flex align-items-center justify-content-center">
    <div class="alert w-4 text-center" role="alert">
        <p>Bitte bestätigen Sie Ihre E-Mail-Adresse</p>
    </div>
</div>
}
}
@else {
    <div class="flex justify-content-between align-items-center p-3">

        <img src="/img/logo.svg" alt="">
        <div class="flex align-items-center flex-column">
            <p>Neu bei DABubble?</p>
            <a href="user/register">Konto erstellen</a>
        </div>
    </div>
    
}