.search{
    width: 50%;
}

.img-container {
    width: 60px;
    height: 60px;
}

.profileimg {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.userName {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

img {
    cursor: pointer;
}

.alert {
    padding: 5px;
    background-color: #f44336;
    color: white;
    border-radius: 25px;
}

.online-status {
    width: 14px;
    height: 14px;
    background-color: #92C83E;
    border-radius: 100%;
    border: 2px solid #ECEEFE;
    position: absolute;
    right: 0;
    bottom: 0;
}

.register {
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
    color: #535AF1;
}