input[type="search"] {
    width: 40%;
    padding: 10px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 20px;
}

.profileimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.userName{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

img{
    cursor: pointer;
}