<section>
    <div class="card flex flex-column justify-content-between align-items-center">

        <div class="flex justify-content-between align-items-center w-full">
            <span class="text-2xl font-bold">Profil</span>
            <div class="close" (click)="close()"></div>
        </div>

        <img class="avatar" src="{{this.data.member.avatar}}">

        <div class="flex flex-column w-full" style="gap: 15px;">
            <div class="flex justify-content-between align-items-center w-full">
                <span class="font-bold font">{{this.data.member.username}}</span>
            </div>

            <div class="flex align-items-center gap-3">
                <div class="cycle" [ngClass]="this.data.member.isLoggedIn ? 'green' : 'grey'"></div>

                @if(this.data.member.isLoggedIn) {
                <span style="color: #92C83E;">Aktiv</span>
                } @else {
                <span style="color: #686868;">Abwesend</span>
                }

            </div>
        </div>

        <div class="flex align-items-center jc w-full">
            <div class="flex flex-column mail">

                <div class="flex" style="gap: 20px;">
                    <img src="img/mail-focus.svg" alt="">
                    <span class="font-bold text-xl">E-Mail-Adresse</span>
                </div>

                <span class="own-mail">{{this.data.member.mail}}</span>
            </div>
        </div>
        <button mat-flat-button (click)="newMessage()"><img src="img/chat-bubble.svg" alt="">Nachricht</button>

    </div>

   
</section>