.card {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px #00000033;
    padding: 40px;
    box-sizing: border-box;
}

.editable {
    height: 700px !important;
}

.font {
    font-size: 32px;
}

.close {

    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/close.svg);

    &:hover {
        cursor: pointer;
        background-image: url(/img/close-hover.svg);
        background-color: #ECEEFE;
    }
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.mail {
    gap: 20px;
}

.own-mail {
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #1381FF;
}

.cycle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.green {
    background-color: #92C83E;
}

.grey {
    background-color: #686868;
}

.purple {
    color: #535AF1;
    cursor: pointer;
}

input {
    border-radius: 30px;
    border: 1px solid #ADB0D9;
    padding: 15px 20px 15px 20px;
    font-weight: 500;
    font-size: 18px;
    color: #686868;

    &:focus {
        outline: none;
        border: 1px solid #9747FF !important;
        color: black;
    }
}


.break-btn {
    border: 1px solid #797EF3 !important;
}

::ng-deep .mdc-button__label {
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 550px) {
    .card {
        width: clamp(16.25rem, -6.25rem + 120vw, 31.25rem);
    }


    .avatar {
        width: clamp(100px, 50vw, 200px);
        height: clamp(100px, 50vw, 200px);
    }

    .font {
        font-size: clamp(1.3125rem, 0.4875rem + 4.4vw, 2rem);
    }

}

@media (max-width: 390px) {
    .mail {
        img {
            display: none;
        }
    }

    .own-mail {
        padding-left: 0;
        font-size: 16px;
    }

    .jc {
        justify-content: center;
    }

}