<main class="inputfield">
  <textarea
    name=""
    id=""
    (keydown)="handleEnterKey($event)"
    [(ngModel)]="textareaValue"
    [placeholder]="getPlaceholderText()"
    [value]="textareaValue | emojis"
  ></textarea>

  <section class="arrange-input-options">
    <div class="chat-options">
      <span
        class="emoji"
        (mouseenter)="changeAddFilesImg(true)"
        (mouseleave)="changeAddFilesImg(false)"
        (click)="!fileIsSelected ? fileInput.click() : removeSelectedFile()"
        [title]="fileIsSelected ? 'Bild rausnehmen' : ''"
      >
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          hidden
        />
        <img
          [src]="addFilesImg"
          [ngStyle]="fileIsSelected ? { transform: 'rotate(45deg)' } : {}"
        />
        <app-file-selection
          *ngIf="filePreview"
          [filePreview]="filePreview"
        ></app-file-selection>
      </span>

      <div>
        <img src="/img/line.svg" />
      </div>

      <span
        class="emoji"
        (mouseenter)="changeAddEmojiImg(true)"
        (mouseleave)="changeAddEmojiImg(false)"
        (click)="handleEmojiSelection()"
      >
        <img [src]="addEmojiImg" />
        <app-emoji-selection
          *ngIf="emojiSelectionOn"
          (selectedEmoji)="handleSelectedEmoji($event)"
        ></app-emoji-selection>
      </span>

      <span
        class="emoji"
        (mouseenter)="changeAddLinkImg(true)"
        (mouseleave)="changeAddLinkImg(false)"
      >
        <img [src]="addLinkImg" />
      </span>
    </div>
    <img
      src="./img/send-message.svg"
      class="send-message-btn"
      (click)="sendMessage(messageType)"
    />
  </section>
</main>
