.inputfield {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  border-radius: 20px;
  width: -webkit-fill-available;
  margin: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  position: relative;

  > textarea {
    resize: none;
    border: none;
    outline: none;
    background-color: rgb(253, 251, 255);
    font-size: 16px;

    &::placeholder {
      color: rgba(104, 104, 104, 1);
    }
  }
}

.arrange-input-options {
  display: flex;
  justify-content: space-between;
}

.send-message-btn {
  cursor: pointer;
  width: 24px;
  height: 56px;

  &:hover {
    opacity: 0.6;
  }
}

.chat-options {
  display: flex;
  align-items: center;
  gap: 5px;

  > .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    &:hover {
      cursor: pointer;
      background-color: #eceefe;
      border-radius: 100%;
    }

    > img {
      cursor: pointer;
      height: 20px;
      width: 20px;
    }
  }
}

.disable-btn{
  cursor: not-allowed !important;
  >img{
    cursor: not-allowed !important;
  }
  &:hover{
    background-color: unset !important;
  }
}

file-preview-container {
  margin-top: 20px;
}

.file-preview {
  background: rgb(121, 126, 243);
   border: 1px solid rgb(173, 176, 217);;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  right: 0;
  left: 0;
  bottom: 100%;
  border-radius: 20px;
  >img{
    max-width: 200px;
    max-height: 200px;
  }
}

.file-preview button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.file-preview button:hover {
  background-color: #0056b3;
}
