<section class="inputfield">
  <textarea name="" id="" [(ngModel)]="textareaValue" [placeholder]="placeholderText | async"></textarea>

  <div class="arrange-input-options">
    <div class="chat-options">
      <div class="emoji">
        <img
        [src]="addFilesImg"
        (mouseenter)="changeAddFilesImg(true)"
        (mouseleave)="changeAddFilesImg(false)"
      />
      </div>
      <div>
        <img src="/img/line.svg" alt="">
      </div>
      <div class="emoji">
        <img
        [src]="addEmojiImg"
        (mouseenter)="changeAddEmojiImg(true)"
        (mouseleave)="changeAddEmojiImg(false)"
      />
      </div>
      <div class="emoji">
        <img
        [src]="addLinkImg"
        (mouseenter)="changeAddLinkImg(true)"
        (mouseleave)="changeAddLinkImg(false)"
      />
      </div>
    </div>
    <img src="./img/send-message.svg" class="send-message-btn" (click)="sendMessage()"/>
  </div>
</section>
