<main
  class="inputfield"
  [ngStyle]="{ height: hasLinkedUsers() ? '130px' : '100px' }"
>
  <section class="arrange-textarea">
    <div class="linked-users" *ngIf="linkedUsers.length > 0">
      @if (linkedUsers.length === usersInChannel.length) {
        <p class="style">Alle</p>
      } @else {
        @for (user of linkedUsers; track $index) {
          <p class="style" (click)="removeLinkedUser($index)">
            {{ user.username }}
          </p>
        }
      }
    </div>
    <textarea
      (keydown)="handleEnterKey($event)"
      [(ngModel)]="textareaValue"
      [placeholder]="getPlaceholderText()"
      [value]="textareaValue | emojis"
    ></textarea>
  </section>

  <section class="arrange-input-options">
    <div class="chat-options">
      <app-add-files
        (mouseenter)="changeAddFilesImg(true)"
        (mouseleave)="changeAddFilesImg(false)"
        [title]="fileName ? 'Bild rausnehmen' : ''"
        [addFilesImg]="addFilesImg"
        (selectedFile)="handleSelectedFile($event)"
        [filePreview]="selectedFile"
        (fileName)="handleFileName($event)"
      ></app-add-files>

      <div>
        <img src="/img/line.svg" />
      </div>

      <app-emojies
        (mouseenter)="changeAddEmojiImg(true)"
        (mouseleave)="changeAddEmojiImg(false)"
        [addEmojiImg]="addEmojiImg"
        (selectedEmoji)="handleSelectedEmoji($event)"
      ></app-emojies>

      <app-link-channel-member
        (mouseenter)="changeAddLinkImg(true)"
        (mouseleave)="changeAddLinkImg(false)"
        [usersInChannel]="usersInChannel"
        [addLinkImg]="addLinkImg"
        [linkedUsers]="linkedUsers"
        (users)="handleLinkedUsernames($event)"
      ></app-link-channel-member>
    </div>
    <img
      src="./img/send-message.svg"
      class="send-message-btn"
      (click)="sendMessage(messageType)"
    />
  </section>
</main>
