.inputfield {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  border-radius: 20px;
  width: -webkit-fill-available;
  margin: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  position: relative;

  > textarea {
    resize: none;
    border: none;
    outline: none;
    background-color: rgb(253, 251, 255);
    font-size: 16px;

    &::placeholder {
      color: rgba(104, 104, 104, 1);
    }
  }
}

.arrange-input-options {
  display: flex;
  justify-content: space-between;
}

.send-message-btn {
  cursor: pointer;
  width: 24px;
  height: 56px;

  &:hover {
    opacity: 0.6;
  }
}

.chat-options {
  display: flex;
  align-items: center;
  gap: 5px;
  > img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    &:first-of-type {
      border-right: 1px solid rgba(173, 176, 217, 1);
      padding-right: 5px;
    }
  }
}

file-preview-container {
  margin-top: 20px;
}

.file-preview {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  top: 0;
  background: azure;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 20px;
}

.file-preview button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.file-preview button:hover {
  background-color: #0056b3;
}
