.card {
    max-height: 700px;
    max-width: 500px;
    background-color: white;
    border-radius: 30px 0 30px 30px;
    // height: 100%;
    // width: 100%;
    box-shadow: 0px 6px 10px 0px #00000033;
    height: 600px;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;

}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.mail {
    gap: 20px;
}

.cycle {
    width: 16px;
    height: 16px;

    border-radius: 100%;
}

.green {
    background-color: green;    
}

.grey {
    background-color: grey; 
}