.color {
  color: #535af1;
}

h4,
p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 480px;
  padding: clamp(15px, 5vw, 40px);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputfield {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 18px;
  width: 420px;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;

  &:hover {
    border: 1px solid #adb0d9;
  }

  &:focus {
    border: 1px solid rgba(68, 77, 242, 1);
  }
}

.input-results {
  position: fixed;
  transform: translateX(32px) translateY(-16px);
  border-radius: 0 20px 20px 20px;
  padding: 20px 25px;
  background-color: white;
  border: 1px solid rgba(173, 176, 217, 1);
  z-index: 1000;
  max-height: 25vh;
  overflow: auto;

  >ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    >li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      padding: 4px 20px;
      border-radius: 30px;
      cursor: pointer;

      >img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      &:hover {
        background: rgba(236, 238, 254, 1);
      }
    }
  }
}

.arrange-selected-user {
  flex-direction: column;
  gap: 5px;
  display: flex;
  max-height: 205px;
  width: max-content;
  overflow: auto;
  font-size: 18px;
}

.selected-user {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(236, 238, 254, 1);
  padding: 3px 20px;
  border-radius: 35px;
  max-width: fit-content;
}

.remove-selected-user-img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.user-avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.visibility-hidden {
  display: none;
}

mat-dialog-content {
  padding: unset !important;
}

mat-dialog-actions {
  padding: unset !important;
}

.close {
  border-radius: 100%;
  min-width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/close.svg);

  &:hover {
    cursor: pointer;
    background-image: url(/img/close-hover.svg);
    background-color: #eceefe;
  }
}

@media (max-width: 1250px) {
  main {
    width: unset;
  }

  ::ng-deep .custom-dialog-container mat-dialog-container {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
  }

  ::ng-deep .custom-dialog-container .mat-mdc-dialog-surface {
    border-radius: 30px !important;
    width: 100vw !important;
  }

  input {
    padding: 0 16px;
    height: 40px;
    font-size: 14px;
    width: -webkit-fill-available;
  }

  .input-results {
    border-radius: 20px;
    max-height: 40vh;
    box-shadow: 0px 2px 10px 0px #00000014;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 8px;

    ul {
      text-wrap: nowrap;
      font-weight: 400;
      font-size: 14px;
    }

    .ng-star-inserted {

      img {
        height: 40px !important;
        width: 40px !important;
        object-fit: cover;
      }

      p {
        display: none;
      }
    }
  }

  .remove-selected-user-img {
    width: 18px;
    height: 18px;
  }

  .selected-user {
    padding: 4px 8px;
  }

  .arrange-selected-user {
    max-height: 48px;
  }
}