<div class="flex justify-content-between align-items-center p-4">
    <h2 class="text-2xl font-bold text-color m-0 p-0" mat-dialog-title>Leute hinzufügen</h2>
    <div class="close"></div>
</div>

<mat-dialog-content class="flex flex-column text-color">
    <mat-radio-group class="flex flex-column text-color" aria-label="Select an option" [(ngModel)]="selectedOption">
        <mat-radio-button value="1">Alle Mitglieder von <span class="color">{{ channel.name }}</span>
            hinzufügen</mat-radio-button>
        <mat-radio-button value="2">Bestimmte Leute hinzufügen</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="selectedOption === '2'" appearance="fill">
        <input type="text" placeholder="Name eingeben" [formControl]="searchControl">

        <p class="font-bold text-2xl" *ngIf="searchResults.users.length > 0">Mitglieder</p>
        <div *ngFor="let member of searchResults.users; let i = index" class="member" (click)="selectUser(member)">
          <div class="relative img-container">
            <img [src]="member.avatar" />
            <div class="online-status" [ngClass]="member.isLoggedIn ? 'green' : 'grey'"></div>
          </div>
          <p>{{ member.username }} - ({{member.mail}})</p>
        </div>
    </div>

    <mat-dialog-actions class="pb-6">
        <button mat-flat-button cdkFocusInitial (click)="onCreateClick()">Erstellen</button>
    </mat-dialog-actions>
</mat-dialog-content>