<main>
  <div class="flex justify-content-between align-items-center">
    <h2
      class="flex align-items-center text-2xl font-bold text-color m-0 p-0"
      mat-dialog-title
    >
      Leute hinzufügen
    </h2>
    <div (click)="closeDialog()" class="close"></div>
  </div>

  <div class="content-wrapper">
    <mat-radio-group
      class="flex flex-column text-color"
      aria-label="Select an option"
      [(ngModel)]="selectedOption"
    >
      <mat-radio-button value="1"
        >Alle Mitglieder von
        <span class="color">{{ channel.name }}</span>
        hinzufügen</mat-radio-button
      >
      <mat-radio-button value="2">Bestimmte Leute hinzufügen</mat-radio-button>
    </mat-radio-group>

    <section
      class="inputfield"
      [ngClass]="{ 'visibility-hidden': selectedOption === '1' }"
    >
      <div>
        <input
          type="text"
          class="inputfield-name"
          placeholder="Name eingeben"
          #inputName
        />
        <div class="input-results" *ngIf="searchResults.length > 0">
          <ul>
            @for (result of searchResults; track $index) {
              <li (click)="putUserToInputfield(result)">
                <img [src]="result.avatar" />
                <span>
                  <h4>{{ result.username }}</h4>
                  <p>{{ result.mail }}</p>
                </span>
              </li>
            }
          </ul>
        </div>
      </div>
      <div class="arrange-selected-user" *ngIf="selectedUser.length > 0">
        @for (user of selectedUser; track $index) {
          <div class="selected-user">
            <img [src]="user.avatar" class="user-avatar-img" />
            <p>{{ user.username }}</p>
            <img
              (mouseenter)="changeRemoveSelectedUserImg($index, true)"
              (mouseleave)="changeRemoveSelectedUserImg($index, false)"
              [src]="
                hoverStates[$index]
                  ? './img/close-hover.png'
                  : './img/close-default.png'
              "
              (click)="removeSelectedUser($index)"
              class="remove-selected-user-img"
            />
          </div>
        }
      </div>
    </section>

    <mat-dialog-actions>
      <button mat-flat-button cdkFocusInitial (click)="onCreateClick()">
        Erstellen
      </button>
    </mat-dialog-actions>
  </div>
</main>
