<section class="flex">
    <img class="avatar" [src]="getSenderAvatar()">

    <div class="flex flex-column gap-2">
        <div class="flex align-items-center" style="gap: 20px;">
            <h2 class="m-0">{{ ticket.senderName }}</h2>
            <span>{{ ticket.timestamp | date : "HH:mm" }} Uhr</span>
            <app-thread-emoji></app-thread-emoji>
        </div>

        <div class="text-bubble">{{ ticket.message }}</div>
    </div>
</section>


<!-- <app-thread-my-emoji></app-thread-my-emoji> -->