<mat-card appearance="outlined" class="w-full p-6 gap-4 align-items-center">
    <div class="arrow-back"></div>

    <div>
        <div class="flex flex-column gap-6 text-center pb-6">
            <mat-card-title>Konto erstellen</mat-card-title>
            <mat-card-subtitle>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
                DABubble-Konto</mat-card-subtitle>
        </div>
    
        <div class="flex flex-column gap-4">
    
            <div class="flex flex-column gap-4">
                <input [(ngModel)]="user.fullName" class="name" placeholder="Name und Nachname">
    
                <input [(ngModel)]="user.email" class="mail" placeholder="Beispielname@email.com">
    
                <input [(ngModel)]="user.password" class="password" placeholder="Passwort">
            </div>
    
            <div>
                <mat-checkbox [(ngModel)]="acceptPolicy" class="example-margin">Ich stimme der Datenschutzerklärung
                    zu.</mat-checkbox>
            </div>
        </div>
    </div>

    <button (click)="saveUser()" [disabled]="!acceptPolicy" mat-flat-button>Weiter</button>
</mat-card>