<mat-card appearance="outlined" class="w-full align-items-center">
    <mat-card-header class="text-center">
        <mat-card-title>Konto erstellen</mat-card-title>
        <mat-card-subtitle>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
            DABubble-Konto</mat-card-subtitle>
    </mat-card-header>

    <div class="flex flex-column">

        <div class="flex flex-column gap-4">
            <input [(ngModel)]="user.fullName" class="name" placeholder="Name und Nachname">

            <input [(ngModel)]="user.email" class="mail" placeholder="Beispielname@email.com">

            <input [(ngModel)]="user.password" class="password" placeholder="Passwort">
        </div>

        <div>
            <mat-checkbox [(ngModel)]="acceptPolicy" class="example-margin">Ich stimme der Datenschutzerklärung
                zu.</mat-checkbox>
        </div>


        <button (click)="saveUser()" [disabled]="!acceptPolicy" mat-flat-button>Weiter</button>
    </div>
</mat-card>