section {
    position: relative;
    width: 400px;
    padding: 48px 56px;
}

.arrow-back {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/arrow-back.svg);

    &:hover {
        cursor: pointer;
        background-color: #ECEEFE;
        border-radius: 100%;
        transition: 125ms;
        background-image: url(/img/arrow-back-hover.svg);
    }
}

h1 {
    color: #444DF2;
    font-size: 46px;
    font-weight: 700;
    margin: 0;
}

h2 {
    color: #444DF2;
    font-size: 32px;
    font-weight: 700;
    margin: 40px 0 0 0;
}

p {
    font-size: 20px;
    margin: 0;
}

a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}