.wrapper {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  width: 400px;
  padding: clamp(8px, 3vw, 50px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.arrow-back {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/arrow-back.svg);

  &:hover {
    cursor: pointer;
    background-color: #eceefe;
    border-radius: 100%;
    transition: 125ms;
    background-image: url(/img/arrow-back-hover.svg);
  }
}

h1 {
  color: #444df2;
  font-size: clamp(35px, 4vw, 46px);
  font-weight: 700;
  margin: 0;
}

p,
a {
  font-size: clamp(17px, 2vw, 20px);
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.position-content {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

img {
  position: absolute;
  left: 16px;
  top: 16px;
  cursor: pointer;
}

.position-headline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.contact span {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 510px) {
  .wrapper {
    height: unset;
    flex-direction: column;
    gap: 32px;
    padding: 5px;
  }

  .position-headline {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 24px;
  }

  main {
    width: unset;
    align-items: center;
    gap: 32px;
  }

  img {
    position: unset;
  }

  .arrow-back {
    top: 0;
    right: 0;
  }

  .position-content {
    grid-template-columns: unset;
    grid-template-rows: unset;
  }

  .contact {
    justify-content: unset;
  }
}
