<div class="wrapper">
 
  <section>
    <img src="/img/logo.svg" (click)="goBack()" />
  </section>

  <main>

    <section class="position-headline">
      <h1>Impressum</h1>
      <div (click)="goBack()" class="arrow-back"></div>
    </section>

    <section class="position-content">
      <div>
        <p>Knezovic, Dominik</p>
        <p>Höhenweg 19</p>
        <p>72511 Bingen</p>

        <p>Deutschland</p>
      </div>

      <div>
        <p>Kapetanis, Dimitrios</p>
        <p>Hauptstraße 42</p>
        <p>59439 Holzwickede</p>
        <p>Deutschland</p>
      </div>

      <div>
        <p>Ürkmez, Rabia</p>
        <p>Im Gemmingstal 67</p>
        <p>74074 Heilbronn</p>
        <p>Deutschland</p>
      </div>

      <div>
        <p>Gehring, Tristan</p>
        <p>Auf Birket 48</p>
        <p>54518 Niersbach</p>
        <p>Deutschland</p>
      </div>
    </section>

    <section>
      <h1>Kontakt</h1>

      <div class="contact">
        <span>
          <p>E-Mail:</p>
          <p>Tel:</p>
        </span>
        <span>
          <a href="mailto:dominik.knezovic@outlook.com">
            dominik.knezovic&#64;outlook.com</a
          >
          <a href="tel:015114306000"> 0151 143 060 00</a>
        </span>
      </div>
    </section>
  </main>
</div>
