section {
    border-radius: 25px 25px 0px 25px;
    border: 1px solid rgba(173, 176, 217, 1);
    width: 40px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 3px 13px 3px 13px;

    div {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(/img/message-reaction-add-reaction.svg);

        &:hover {
            cursor: pointer;
            background-color: #ECEEFE;
            border-radius: 100%;
            transition: 125ms;
            background-image: url(/img/message-reaction-add-reaction-hover.svg);
        }
    }
}