
  <h2 mat-dialog-title>Channel erstellen</h2>

  <mat-dialog-content class="flex flex-column">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iste similique aspernatur beatae nam, suscipit
      accusamus corrupti nobis? Ad est asperiores iusto perspiciatis itaque nobis quas rem inventore vero quia!</p>
    <mat-form-field class="example-full-width">
      <mat-label>Channelname</mat-label>
      <input matInput [(ngModel)]="data.name" placeholder="Gebe einen Namen ein." />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Beschreibung</mat-label>
      <input matInput [(ngModel)]="data.description" placeholder="Gebe einen Namen ein." />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="onOkClick()" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
