.blue-name:hover {
  color: #535af1;
}

.blue-action-name:hover {
  color: #535af1;
}

.blue-channel-name:hover {
  color: #535af1;
  font-weight: bolder;
}

.selected-channel {
  color: #535af1;
  font-weight: bolder;
}

.blue-filter:hover {
    filter: brightness(0) saturate(100%) invert(38%) sepia(49%) saturate(6186%) hue-rotate(228deg) brightness(97%) contrast(95%);
}

.blue-filter:hover {
  filter: brightness(0) saturate(100%) invert(38%) sepia(49%) saturate(6186%)
    hue-rotate(228deg) brightness(97%) contrast(95%);
}

.content {
    background-color: #ECEEFE;
}

.img-container {
  width: 50px;
  height: 50px;

  img {
    width: 50px;
    height: 50px;
  }
}

.online-status {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  right: 0;
  bottom: 0;
}

.green {
  background-color: #92C83E;
}

.grey {
  background-color: #686868;
}