@if (activeUser) {

<mat-drawer-container class="h-full relative" autosize>
  <mat-drawer #drawer class="p-4 sidenav-style" mode="side" [opened]="true">
    <div class="flex align-items-center justify-content-between">
      <div class="flex align-items-center">
        <img src="img/devspace.svg" alt="devspace-logo" />
        <h3 class="text-3xl m-2">Devspace</h3>
      </div>
      <div (click)="openNewMessage()" class="new-message"></div>
    </div>

    <mat-tree class="mt-5" [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node">
        <div class="flex align-items-center cursor-pointer">
          <button mat-icon-button></button>
          <ng-container *ngIf="node">
            <img *ngIf="isGroupChannel(node)" class="mr-3" src="img/tag-hover.svg" alt="channel" />
            <img *ngIf="isActionNode(node)" class="mr-3" src="img/add-channel-2.svg" alt="add-channel" />

            <div *ngIf="isDirectMessage(node)" class="mr-3 img-container relative">
              <img class="border-circle" style="width: 50px;" [src]="node.avatar" alt="pm" />
              <div class="online-status" [ngClass]="{ 'green': isLoggedIn, 'grey': !isLoggedIn }"></div>
            </div>

          </ng-container>
          <span (click)="onNode(node)" [ngClass]="{
              'cursor-pointer': true,
              'blue-channel-name': isGroupChannel(node),
              'blue-name': isCategoryNode(node),
              'font-bold': isCategoryNode(node),
              'blue-action-name': isActionNode(node),
              'selected-channel': isSelectedChannel(node)
            }">{{ node.name }}</span>
        </div>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="flex align-items-center justify-content-between cursor-pointer w-full blue-filter"
          matTreeNodeToggle>
          <div class="flex align-items-center">
            <button mat-icon-button (click)="$event.stopPropagation()" matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror align-items-center flex justify-content-center">
                <img style="width: 10px; height: 10px"
                  [src]="treeControl.isExpanded(node) ? 'img/arrow_down.svg' : 'img/arrow-right.svg'"
                  alt="toggle icon" />
              </mat-icon>
            </button>
            <ng-container *ngIf="node">
              <img *ngIf="isCategoryNode(node) && node.name === 'Channels'" class="mr-3" src="img/channels.svg"
                alt="channels" />
              <img *ngIf="isCategoryNode(node) && node.name === 'Direktnachrichten'" class="mr-3"
                src="img/account_circle.svg" alt="direct-messages" />
            </ng-container>
            <span matTreeNodeToggle [ngClass]="{
                'cursor-pointer': true,
                'blue-channel-name': isGroupChannel(node),
                'blue-name': isCategoryNode(node),
                'font-bold': isCategoryNode(node),
                'blue-action-name': isActionNode(node),
                'selected-channel': isSelectedChannel(node)
              }">{{ node.name }}</span>
          </div>
          <ng-container *ngIf="node.name === 'Channels'">
            <div (click)="openAddChannelDialog()" class="add-channel hover">
            </div>
          </ng-container>
        </div>
      </mat-tree-node>
    </mat-tree>
  </mat-drawer>

  <div class="content extend" *ngIf="showNewChat">
    <app-new-chat class="flex justify-content-between flex-auto" [selectedChannelFromSidenav]="activeChannelChange"
      [activeUserFromSidenav]="activeUserChange"></app-new-chat>
  </div>

  <div class="content extend" *ngIf="!showNewChat">

    <app-chat *ngIf="selectedChannel" [selectedChannelFromSidenav]="activeChannelChange"
      [allMessagesfromSideNav]="allMessagesChange" [activeUserFromSidenav]="activeUserChange"></app-chat>


    <app-thread *ngIf="channelService.showSingleThread" class=" pl-5"
      [activeUserFromSidenav]="activeUserChange"></app-thread>
  </div>


</mat-drawer-container>

<button class="absolute top-50 z-5 -rotate-90 mobile-view-btn" [ngStyle]="{ 'margin-left': '-50px' }"
  (click)="drawer.toggle()" mat-button>
  Workspace-Menü
</button>

}