.blue-name:hover {
  color: #535af1;
}

.blue-action-name:hover {
  color: #535af1;
}

.blue-channel-name:hover {
  color: #535af1;
  font-weight: bolder;
}

.content {
  background-color: #eceefe;
}

mat-tree-node {
  margin-top: 8px;
  cursor: pointer;
  border-radius: 30px;

  &:hover {
    background: rgba(236, 238, 254, 1);

    > div span {
      color: #535af1;
    }
  }
}

mat-drawer-container {
  border-radius: 30px;
}

.extend {
  height: 100%;
  display: flex;
  border-radius: 30px;
  padding-left: 2rem;

  > app-chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.img-container {
  width: 50px;
  height: 50px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.new-channel {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/new-message.svg);

  &:hover {
    cursor: pointer;
    background-color: #eceefe;
    border-radius: 100%;
    transition: 75ms;
    background-image: url(/img/new-message-hover.svg);
  }
}

.new-msg-mobile {
  position: absolute;
  bottom: 32px;
  right: 16px;
  border-radius: 100%;
  background-color: #444df2;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/new-message-white.svg);
  box-shadow: 0px 6px 10px 0px #00000033;
  cursor: pointer;
}

.add-channel {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/add-files.svg);

  &:hover {
    cursor: pointer;
    background-color: #eceefe;
    border-radius: 100%;
    transition: 75ms;
    background-image: url(/img/add-files-hover.svg);
  }
}

.online-status {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  right: 0;
  bottom: 0;
}

.green {
  background-color: #92c83e;
}

.grey {
  background-color: #686868;
}

.show-if-mobile {
  display: none;
}

@media (max-width: 1250px) {
  .hide-if-mobile {
    display: none !important;
  }

  .show-if-mobile {
    display: block;
  }

  .mobile-view-btn {
    display: none;
  }

  .extend {
    padding: 0;
  }

  mat-drawer-container {
    padding: 0;
    border-radius: 0 !important;
    height: calc(100vh - 80px) !important;
  }

  mat-drawer {
    width: 100vw;
    left: 0;
    right: 0;
    top: 0 !important;
  }

  .style-mobile-channel-btn {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }

  .new-channel-mobile {
    width: 40px;
    height: 40px;
    background-color: #444df2;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/new-message-white.svg);
    padding: 8px;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 6px 10px 0px #00000033;
      transition: 75ms;
    }
  }
}

.pl-48 {
  padding-left: 48px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
  top: 65%;
  padding: 16px;
  gap: 10px;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
  border: 1px solid ghostwhite;
  margin-left: -105px;
  background-color: white;
  left: 0;

  &:hover {
    background: rgb(236, 238, 254);
    > span {
      color: #535af1;
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1250px) {
  .selected-channel {
    color: #535af1;
    font-weight: bolder;
  }

  .selected-background {
    background: rgb(236, 238, 254);
  }

  mat-drawer-container {
    flex: 1 !important;
  }

  :host {
    display: flex;
    flex-direction: column;
  }
}
