.container {
    max-width: 606px;
    padding: clamp(1rem, -2.70594rem + 3.765vw, 5rem) clamp(0.5rem, 0.14713rem + 1.882vw, 2.5rem);
    box-sizing: border-box;
}

mat-card-title {
    color: #444DF2;
    font-weight: 700;
    font-size: clamp(1.5rem, 3.7206vw + 1.2574rem, 3rem);
}

mat-card-subtitle {

    font-size: 20px;
    font-weight: 400;
}

.arrow-back {
    position: absolute;
    top: clamp(1.875rem, 1.21409rem + 1.429vw, 3rem);
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/arrow-back.svg);

    &:hover {
        cursor: pointer;
        background-color: #ECEEFE;
        border-radius: 100%;
        transition: 125ms;
        background-image: url(/img/arrow-back-hover.svg);
    }
}

.name {
    background-image: url(/img/person.svg);

    &:focus {
        background-image: url(/img/person-focus.svg);
        border-color: #535AF1;
    }
}


.mail {
    background-image: url(/img/mail.svg);

    &:focus {
        background-image: url(/img/mail-focus.svg);
        border-color: #535AF1;
    }
}

.password {
    background-image: url(/img/lock.svg);

    &:focus {
        background-image: url(/img/lock-focus.svg);
        border-color: 1px solid #535AF1;
    }
}

input {
    width: 100%;
    height: 60px;
    font-size: 16px;
    border-radius: 100px;
    border: none;
    background-color: rgba(236, 238, 254, 1);
    background-repeat: no-repeat;
    background-position: 16px 50%;
    padding-left: 48px;
    box-sizing: border-box;
    border: 1px solid white;
    outline: none;

    ::placeholder {
        font-size: 18px;
    }

    &:hover {
        border: 1px solid #ADB0D9
    }

    &:focus {
        border: 1px solid #535AF1
    }
}

.alert {
    color: red;
    font-size: 14px;
    margin: 5px;
}

.bigAlert {
    color: red;
    font-size: 20px;
    margin: 5px;
    padding: 12px;
    border-radius: 25px;
    text-align: center;
    width: 83%;
    margin: 0 auto;
}
.link {
    color: #444DF2;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 400px) {

    .arrow-back {
        left: -8px;
    }

    mat-checkbox {
        padding-bottom: 8px;
    }
}

@media (max-height: 1000px) {

    .mobile-style-header {
        padding-bottom: 1.25rem !important;
        gap: 1rem !important;
    }

    mat-card-subtitle {
        font-size: 14px
    }

    input {
        height: 40px;
        font-size: 12px;
    }

    .gap-4 {
        gap: 1rem !important;
    }
}

@media (max-height: 700px) {
  .bigAlert {
    padding: 6px;
    font-size: 15px;
  }
}

@media (max-height: 600px) {

    input {
        height: 32px;
    }
}