<div class="emoji-selection">
  <figure [innerHTML]="':-D' | emojis" (click)="putEmojiOut(':-D')"></figure>
  <figure [innerHTML]="':-)' | emojis" (click)="putEmojiOut(':-)')"></figure>
  <figure [innerHTML]="':-(' | emojis" (click)="putEmojiOut(':-(')"></figure>
  <figure [innerHTML]="':-P' | emojis" (click)="putEmojiOut(':-P')"></figure>
  <figure [innerHTML]="':-O' | emojis" (click)="putEmojiOut(':-O')"></figure>
  <figure [innerHTML]="':-/' | emojis" (click)="putEmojiOut(':-/')"></figure>
  <figure [innerHTML]="':-*' | emojis" (click)="putEmojiOut(':-*')"></figure>
  <figure [innerHTML]="':-|' | emojis" (click)="putEmojiOut(':-|')"></figure>
  <figure [innerHTML]="':-$' | emojis" (click)="putEmojiOut(':-$')"></figure>
  <figure [innerHTML]="':-!' | emojis" (click)="putEmojiOut(':-!')"></figure>
  <figure [innerHTML]="':-@' | emojis" (click)="putEmojiOut(':-@')"></figure>
  <figure [innerHTML]="':-#' | emojis" (click)="putEmojiOut(':-#')"></figure>
  <figure [innerHTML]="':-&' | emojis" (click)="putEmojiOut(':-&')"></figure>
  <figure [innerHTML]="':-%' | emojis" (click)="putEmojiOut(':-%')"></figure>
  <figure [innerHTML]="':-^' | emojis" (click)="putEmojiOut(':-^')"></figure>
</div>
