<mat-card>
  <main>
    <mat-card-subtitle class="font-bold text-2xl">Neue Nachricht</mat-card-subtitle>
    <input type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse" [formControl]="searchControl">
    
    <div class="members">
      <!-- Benutzer anzeigen -->
       <p>Benutzer:</p>
      <div *ngFor="let member of searchResults.users; let i = index" class="member" (click)="selectUser(member)">
        <div class="relative img-container">
          <img [src]="member.avatar" />
          <div class="online-status" [ngClass]="member.isLoggedIn ? 'green' : 'grey'"></div>
        </div>
        <p>{{ member.username }} - ({{member.mail}})</p>
      </div>
      
      <!-- Channels anzeigen -->
       <p>Channels:</p>
      <div *ngFor="let channel of searchResults.channels; let i = index" class="channel" (click)="selectChannel(channel)">
        <p>#{{ channel.name }}</p>
      </div>
    </div>
  </main>

  <app-chat-inputfield class="input" [messageType]="messageType" [isSelectingUser]="isSelectingUser" 
  [isSelectingChannel]="isSelectingChannel">></app-chat-inputfield>
</mat-card>
