:host {
  width: 100%;
}

mat-card {
  margin-inline: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

:host ::ng-deep mat-card {
  border: none !important;
  box-shadow: none !important;
  border-radius: 30px !important;
}

main {
  max-height: 64vh;
  position: relative;
  box-shadow: 0px 2px 10px 0px #00000014;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 45px 20px 45px;
  border-radius: 30px 30px 0px 0px;
}

input {
  height: 40px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #adb0d9;
  width: -webkit-fill-available;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  margin-top: 24px;
  margin-bottom: 24px;

  ::placeholder {
    font-size: 18px;
  }

  &:focus {
    border: 1px solid #535af1;
  }
}

.members {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  width: 100%;
}

.img-container {
  width: 50px;
  height: 50px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.online-status {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  right: 0;
  bottom: 0;
}

.green {
  background-color: #92c83e;
}

.grey {
  background-color: #686868;
}

.member {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  padding: 4px 20px;
  cursor: pointer;

  &:hover {
    background: rgba(236, 238, 254, 1);
  }
}

.channel {
  display: flex;
  align-items: center;

  border-radius: 30px;

  cursor: pointer;

  &:hover {
    background: rgba(236, 238, 254, 1);
  }

  .channel-text {
    color: #4528b3;
    font-weight: bolder;
  }
}

@media (max-width: 1250px) {
  mat-card {
    height: calc(100vh - 80px) !important;
  }

  main {
    border-radius: 0 !important;
  }

  :host ::ng-deep mat-card {
    border-radius: 0 !important;
  }
}

@media (max-width: 600px) {
  .only-bigger-window {
    display: none;
  }

  main {
   padding: 32px clamp(1.5625rem, 0.3125rem + 6.6667vw, 2.8125rem) 20px clamp(1.5625rem, 0.3125rem + 6.6667vw, 2.8125rem);
  }
}