<mat-card>
  <main>
    <mat-card-subtitle class="font-bold text-2xl">Neue Nachricht</mat-card-subtitle>
    <input type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse" [formControl]="searchControl">
    <div class="members">
      @for (member of this.searchResults; track $index) {
      <div class="member" (click)="selectUser(member)">
        <div class="relative img-container">
          <img [src]="member.avatar" />
          <div class="online-status" [ngClass]="member.isLoggedIn ? 'green' : 'grey'"></div>
        </div>
        <p>{{ member.username }}</p>
      </div>
      }
    </div>

  </main>


  <app-chat-inputfield class="input" [messageType]="messageType">
  </app-chat-inputfield>
</mat-card>