<div>
  <main>
    <section class="headline">
      <h3>Mitglieder</h3>
      <img [src]="closeImg" class="close" (mouseenter)="changeCloseImg(true)" (mouseleave)="changeCloseImg(false)"
        (click)="closeDialog()" />
    </section>

    <section class="channel-members">
      @for (member of data.allUsers; track $index) {
      <app-member [allUsers]="member"></app-member>
      }
      <div class="add-member">
        <div></div>
        <p>Mitglied Hinzufügen</p>
      </div>

    </section>
  </main>

</div>