<main>
  <section class="headline">
    <h3>Mitglieder</h3>
    <img
      [src]="closeImg"
      class="close"
      (mouseenter)="changeCloseImg(true)"
      (mouseleave)="changeCloseImg(false)"
      (click)="closeDialog()"
    />
  </section>

  <section class="channel-members">
    <app-member [member]="activeUser"></app-member>

    @for (member of channelMembers; track $index) {
    <app-member [member]="member"></app-member>
    }
    <app-member
      (mouseenter)="changeAddMembersImg(true)"
      (mouseleave)="changeAddMembersImg(false)"
      [member]="{
        avatar: addMemberImg,
        username: 'Mitglied hinzufügen'
      }"
    ></app-member>
  </section>
</main>
