.wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

main {
  border-radius: 30px 0 30px 30px;
  padding: 40px;
  scroll-behavior: smooth;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px;
  transition: background 0.5s ease;

  &:hover {
    background: rgba(236, 238, 254, 1);
  }
}

.channel-members {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto; /* Scrollen auf channel-members anwenden */
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 30px 0px 30px 30px;
}



.add-member {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  padding: 4px 20px;
  cursor: pointer;

  div {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/add-members-default.svg);
  }

  &:hover {
    color: #535af1;
    background-color: #eceefe;
    border-radius: 30px;

    div {
      background-image: url(/img/add-members-hover.svg);
    }
  }
}

@media (max-width: 1000px) {

 
  ::ng-deep .mat-mdc-dialog-panel {
    margin-left: 416px !important;
    margin-top: 260px !important;
  }

}

@media (max-width: 910px) {
  .close {
    display: none;
  }

  .wrapper {
    height: 48vh;
  }
  
}
