input {
    margin: 10px;
    padding: 15px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 85%;
    border-radius: 40px;
    font-size: 16px;
    background-color: #ECEEFD;
    cursor: pointer;

    &:hover {
        border: 2px solid black;
    }
}
span{
    margin-left: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:disabled {
        background: #4e4e4e;
        cursor: not-allowed;
    }

    &:hover {
        background-color: white;
        color: #007bff;
        border: 2px solid #007bff;
    }
}

.alert {
    color: red;
    font-size: 14px;
    margin: 5px;
}

.card {
    margin: 20px;
    margin-top: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}