<main>
  <section class="channel-information">
    <div
      *ngIf="isChannel"
      class="chat-details-channel"
      (mouseenter)="changeTagImg(true)"
      (mouseleave)="changeTagImg(false)"
      (click)="
        channelService.channel.isPrivate
          ? null
          : openDialogChannelInformation($event)
      "
      [ngClass]="{ 'dialog-is-open': dialogChannelInfoIsOpen }"
    >
      <img
        [src]="tagImg"
        class="tag-img"
        *ngIf="!channelService.channel.isPrivate"
      />
      <span
        *ngIf="channelService.channel.isPrivate" class="private-chat-avatar"
      >
        <img [src]="privatChatAvatar" class="privat-chat-avatar"/>
        <p
          [ngClass]="privateChatPartner?.isLoggedIn ? 'green' : 'grey'"
          class="online-status"
        ></p>
      </span>

      <h2 *ngIf="!channelService.channel.isPrivate">
        {{ (channelService.selectedChannel$ | async)?.name }}
      </h2>
      <h2 *ngIf="channelService.channel.isPrivate">
        {{ privateChatPartnerName }}
      </h2>
      <img
        class="arrow-down"
        [src]="arrowImg"
        *ngIf="!channelService.channel.isPrivate"
      />
    </div>

    <div class="channel-members" *ngIf="!channelService.channel.isPrivate">
      <div
        class="channel-member-amount"
        (click)="openDialogChannelMembers($event)"
        [ngClass]="{ 'dialog-is-open': dialogChannelMembersIsOpen }"
      >
        @for (user of assignedUsers.slice(0,5); track $index) {
        <img class="img" [src]="user.avatar" />
        }
        <p class="missing-amount" *ngIf="getExtraUserCount() > 0">
          +{{ getExtraUserCount() }}
        </p>
        <p *ngIf="getExtraUserCount() < 6">
          {{ channelService.channel.assignedUser.length }}
        </p>
      </div>
      <img
        [src]="addChannelMembersImg"
        (mouseenter)="changeAddMembersImg(true)"
        (mouseleave)="changeAddMembersImg(false)"
        (click)="openDialogAddChannelMembers($event)"
      />
    </div>
  </section>
</main>
