<div class="absolute w-full top-0 left-0">
    <app-header></app-header>
</div>
<div class="h-screen w-full">
    <div class="h-full w-full flex align-items-center justify-content-center">

        <div class="w-9">
            <div class="flex flex-column w-full align-items-center justify-content-center">
                <div class="card flex flex-column align-items-center justify-content-center w-5 h-8">
                    <router-outlet></router-outlet>

                </div>
                <div class="flex gap-8">
                    <a href="#">Impressum</a>
                    <a href="#">Datenschutz</a>
                </div>
            </div>
        </div>
    </div>
</div>