.card {
    margin: clamp(0rem, -0.2205rem + 1.176vw, 1.25rem);
    margin-top: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: -99999;
}

.h-full {
    height: calc(100vh - 107px) !important;
}

a {
    font-family: 'Figtree' !important;
    font-size: 18px;
    color: #797EF3;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        color: #444DF2;
        font-weight: 500;
        border: 1px solid #ADB0D9;
    }

}

@media (max-width: 650px) {
    .mobile-container {
        width: 100% !important;
    }

    .mobile-view {
        display: none !important;
    }
}