<div class="flex flex-column w-full align-items-center justify-content-center">
    <div class="card flex flex-column align-items-center justify-content-center h-8">
        @if (link === '/home') {
        <app-login></app-login>
        }
        @else if (link === '/addUser') {
        <app-add-user></app-add-user>
        }
        @else if (link === '/avatar') {
        <app-choose-avatar></app-choose-avatar>
        }

    </div>
    <div class="flex gap-8">
        <a href="#">Impressum</a>
        <a href="#">Datenschutz</a>
    </div>
</div>