mat-card {
  margin-inline: 0 ;
  margin: 0 ;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow: hidden;
  
}

:host{
  width: 100%;
}

.thread-card {
  margin-left: 24px !important
}

.height{
  height: 100%;
}

:host ::ng-deep mat-card {
  border: none !important;
  box-shadow: none !important;
  border-radius: 30px !important;
}


app-chat-conversation {
  flex-grow: 1;
  /* overflow-y: auto; */
}

app-thread-conversation {
  flex-grow: 1;
  overflow-y: auto;
}

app-chat{
  width: 100% !important;
}

@media (max-width: 1250px) {

  :host{
    height: 100%;
    display: flex;
    height: calc(100% - 80px);
  }

  mat-card {
    flex: 1;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0; 
    border-radius: 0 !important;
  }

  .thread-card {
    margin-left: 0 !important
  }
}