mat-card {
  margin-inline: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:host ::ng-deep mat-card {
  border: none !important;
  box-shadow: none !important;
  border-radius: 30px !important;
}

chat-information {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

app-chat-conversation {
  max-height: 520px;
}

app-chat-inputfield {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(253, 251, 255);
  border-radius: 0px 0px 30px 30px;
}
