<!-- <mat-card>
  <app-chat-information [activeUserFromChat]="activeUserFromSidenav" [activeChannelFromChat]="selectedChannelFromSidenav" ></app-chat-information>
  <app-chat-conversation
    [activeChannelFromChat]="selectedChannelFromSidenav" [activeUserFromChat]="activeUserFromSidenav" #scrollContainer>
  </app-chat-conversation>
  <app-chat-inputfield [selectedChannelFromChat]="selectedChannelFromSidenav"
    [activeUserFromChat]="activeUserFromSidenav" [messageType]="messageType">
  </app-chat-inputfield>
</mat-card> -->


Hier bin ich