
<div class="flex">
<mat-card>
  <app-chat-information [activeUserFromChat]="selectedUserFromChat"
    [activeChannelFromChat]="selectedChannelFromChat"></app-chat-information>
  <app-chat-conversation [activeChannelFromChat]="selectedChannelFromChat" [activeUserFromChat]="selectedUserFromChat"
    #scrollContainer>
  </app-chat-conversation>
  <app-chat-inputfield [selectedChannelFromChat]="selectedChannelFromChat" [activeUserFromChat]="selectedUserFromChat"
    [messageType]="messageType">
  </app-chat-inputfield>
</mat-card>

@if (getsessionStorage('selectedThread')) {
  <app-thread></app-thread>
}

</div>