<main>
  <section [ngStyle]="{ width: '100%' }">
    <div class="headline">
      <h3 class="text-2xl">Leute hinzufügen</h3>
      <img
        [src]="closeImg"
        (mouseenter)="changeCloseImg(true)"
        (mouseleave)="changeCloseImg(false)"
        class="close"
        (click)="closeDialog()"
      />
    </div>
    <div class="channel-name">
      <img src="./img/tag-hover-thin.svg" />
      <p>{{ selectedChannel.name }}</p>
    </div>
  </section>

  <section class="inputfield">
    <div>
      <input
        type="text"
        class="inputfield-name"
        placeholder="Name eingeben"
        #inputName
      />
      <div class="input-results" *ngIf="searchResults.length > 0">
        <ul>
          @for (result of searchResults; track $index) {
            <li (click)="putUserToInputfield(result)">
              <img [src]="result.avatar" />
              <span>
                <h4>{{ result.username }}</h4>
                @if (!windowIsSmall()) {
                  <p>{{ result.mail }}</p>
                }
              </span>
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="arrange-selected-user" *ngIf="selectedUser.length > 0">
      @for (user of selectedUser; track $index) {
        <div class="selected-user">
          <img [src]="user.avatar" class="user-avatar-img" />
          <p>{{ user.username }}</p>
          <img
            (mouseenter)="changeRemoveSelectedUserImg($index, true)"
            (mouseleave)="changeRemoveSelectedUserImg($index, false)"
            [src]="
              hoverStates[$index]
                ? './img/close-hover.png'
                : './img/close-default.png'
            "
            (click)="removeSelectedUser($index)"
            class="remove-selected-user-img"
          />
        </div>
      }
    </div>
  </section>

  <button
    [ngClass]="{ 'active-btn': selectedUser.length > 0 }"
    [disabled]="selectedUser.length === 0"
    (click)="addUserToChannel(selectedUser)"
  >
    hinzufügen
  </button>
</main>
