main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding: 40px;
  /* position: relative; */
  overflow: visible;
}

p,
h3,
h4,
h2 {
  margin: 0;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px;
  transition: background 0.5s ease;

  &:hover {
    background: rgba(236, 238, 254, 1);
  }
}

.channel-name {
  display: flex;
  gap: 15px;
  align-items: center;

  >img {
    width: 16px;
    height: 16px;
  }

  >p {
    font-size: 18px;
    color: rgba(121, 126, 243, 1);
  }
}

input {
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 18px;
  width: 420px;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;

  &:hover {
    border: 1px solid #adb0d9;
  }

  &:focus {
    border: 1px solid rgba(68, 77, 242, 1);
  }
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 30px 0px 30px 30px !important;
}

.inputfield {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-results {
  position: fixed;
  transform: translateX(32px) translateY(-16px);
  border-radius: 0 20px 20px 20px;
  padding: 20px 25px;
  background-color: white;
  border: 1px solid rgba(173, 176, 217, 1);
  z-index: 1000;
  max-height: 25vh;
  overflow: auto;

  >ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    >li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      padding: 4px 20px;
      border-radius: 30px;
      cursor: pointer;

      >img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      &:hover {
        background: rgba(236, 238, 254, 1);
      }
    }
  }
}

button {
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  background: rgba(104, 104, 104, 1);
  color: white;
  font-size: 18px;
  font-weight: 800;
  /*  cursor: pointer; */
}

.active-btn {
  background: rgba(68, 77, 242, 1);
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.selected-user {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(236, 238, 254, 1);
  padding: 3px 20px;
  border-radius: 35px;
  max-width: fit-content;
}

.user-avatar-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.remove-selected-user-img {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.arrange-selected-user {
  flex-direction: column;
  gap: 5px;
  display: flex;
  max-height: 205px;
  width: max-content;
  overflow: auto;
  font-size: 18px;
}

@media (max-width: 1250px) {
  main {
    padding: 20px;
  }

  :root {
    --overlay-margin-left: calc(100% - 320px);
  }

  #cdk-overlay-3 {
    margin-left: var(--overlay-margin-left);
  }

  input {
    width: auto;
    height: 40px;
    box-sizing: border-box;
  }

  .input-results {
    padding: 10px;

    >ul>li {
      padding: 4px;
    }
  }

  .channel-name {
    display: none;
  }

  .arrange-selected-user {
    max-height: 48px;
  }
}