<main>
  <section [ngStyle]="{ width: '100%' }">
    <div class="headline">
      <h3 class="text-2xl">Leute hinzufügen</h3>
      <img
        [src]="closeImg"
        (mouseenter)="changeCloseImg(true)"
        (mouseleave)="changeCloseImg(false)"
        class="close"
        (click)="closeDialog()"
      />
    </div>
    <div class="channel-name">
      <img src="./img/tag-hover-thin.svg" />
      <p>{{ (channelService.selectedChannel$ | async)?.name }}</p>
    </div>
  </section>

  <section class="inputfield">
    <input
      type="text"
      class="inputfield-name"
      placeholder="Name eingeben"
      (keyup)="searchUser($event)"
      #inputName
    />
    <div class="input-results" *ngIf="searchResults.length > 0">
      <ul>
        @for (result of searchResults; track $index) {
        <li>
          <img [src]="result.avatar" />
          <p>{{ result.username }}</p>
        </li>
        }
      </ul>
    </div>
  </section>

  <button>hinzufügen</button>
</main>
