<mat-card class="h-full">
    <main>
        <div class="flex align-items-center justify-content-between w-full">
            <div class="flex align-items-center" style="gap: 5px;">
                <mat-card-subtitle class="font-bold text-2xl">Thread</mat-card-subtitle>
                <img src="./img/tag-hover-thin.svg" alt="">
                <span class="purple">{{ getTitle | async }}</span>
            </div>

            <div (click)="close()" class="close"></div>
        </div>
    </main>
    <div class="h-full flex align-items-end">
        <app-thread-receive-chat class="w-full"></app-thread-receive-chat>
        <!-- <app-thread-send-chat class="w-full"></app-thread-send-chat> -->
    </div>
    <div class="h-full flex align-items-end">

        <app-thread-send-chat class="w-full"></app-thread-send-chat>
    </div>

    <!-- <app-chat-inputfield></app-chat-inputfield> -->
    <app-thread-input></app-thread-input>
</mat-card>