<section class="w-full relative flex flex-column justify-content-between align-items-center">

    <div (click)="goBack()" class="arrow-back"></div>

    <mat-card-title>Passwort zurücksetzen</mat-card-title>
    <form (ngSubmit)="onSubmit(passwordChangeForm)" #passwordChangeForm="ngForm">

        <p class="text-xl text-center">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
        <div class="w-full">
            <input type="email" #mail="ngModel" [(ngModel)]="email" placeholder="beispielname@email.com" name="email"
                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            @if (!mail.valid && !mail.disabled && mail.touched) {<div class="alert"> <span>*Diese E-Mail-Adresse ist
                    leider ungültig.</span></div>}
        </div>
        <p class="text-xl text-center" style="color: #686868;">Wir senden Ihnen eine E-Mail, über die<br>Sie Ihr
            Passwort ändern können.</p>
        <div class="w-full flex justify-content-end">
            <button [disabled]="!mail.valid" type="submit" mat-flat-button class="text-lg font-bold">E-Mail
                senden</button>
        </div>
    </form>
</section>

@if (message) {
    <img src="/img/emailsent.svg" alt="">
}