form {
    max-width: 606px;
}

input {
    margin: 10px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    width: 85%;
    border-radius: 40px;
    font-size: 16px;
    background-color: #ECEEFD;
    cursor: pointer;
    border: 1px solid white;
    outline: none;

    ::placeholder {
        font-size: 18px;
    }

    &:hover {
        border: 1px solid #ADB0D9
    }

    &:focus {
        border: 1px solid #535AF1
    }
}

span {
    margin-left: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:disabled {
        background: #4e4e4e;
        cursor: not-allowed;
    }

    &:hover {
        background-color: white;
        color: #007bff;
        border: 2px solid #007bff;
    }
}

.alert {
    color: red;
    font-size: 14px;
    margin: 5px;
}



hr {
    margin: 20px;
    width: 30%;
}


.test {
    display: none;
}


.test2 {
    width: 90%;
}

.gast {
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff;

    &:hover {
        background-color: #007bff;
        color: white;
    }

}

.googleButton {
    margin: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 90%;
    color: #5262ED;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    background-color: #ECEEFD;
    border: 1px solid white;

    &:hover {
        border: 1px solid #444DF2;
        background-color: #ECEEFD;
    }

    &:focus {
        border: 1px solid #686868;
        background-color: #ECEEFD;
    }
}

h1 {
    color: #3A4EEC;
}

table {
    border-collapse: collapse;
    width: 100%;
}

a {
    font-family: 'Figtree' !important;
    text-decoration: none;
    color: #797EF3;

    &:hover {
        color: #444DF2;
        background-color: #eceefe;
        border-radius: 30px;
        padding: 5px 30px;
        font-weight: 500;
        cursor: pointer;
    }
}