form {
  max-width: 606px;
}

input {
  margin: 10px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  width: -webkit-fill-available;
  max-width: 500px;
  border-radius: 40px;
  font-size: 16px;
  background-color: #eceefd;
  cursor: pointer;
  border: 1px solid white;
  outline: none;

  ::placeholder {
    font-size: 18px;
  }

  &:hover {
    border: 1px solid #adb0d9;
  }

  &:focus {
    border: 1px solid #535af1;
  }
}

span {
  margin-left: 20px;
}

button {
  margin: 10px;
  padding: 10px;
  border: 2px solid #444df2;
  border-radius: 40px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  background-color: #444df2;
  color: white;
  cursor: pointer;

  &:disabled {
    background: #4e4e4e;
    cursor: not-allowed;
  }

  &:hover {
    background-color: white;
    color: #444df2;
    border: 2px solid #444df2;
  }
}

.bigAlert {
  color: red;
  font-size: 20px;
  margin: 5px;
  padding: 12px;
  border-radius: 25px;
  text-align: center;
  width: 83%;
  margin: 0 auto;
}

.alert {
  color: red;
  font-size: 14px;
  margin: 5px;
}

hr {
  margin: 20px;
  width: 30%;
}

.test {
  display: none;
}

.test2 {
  width: 90%;
}

.gast {
  background-color: white;
  border: 2px solid #444df2;
  color: #444df2;

  &:hover {
    background-color: #444df2;
    color: white;
    border: 2px solid #444df2;
  }
}

.googleButton {
  margin: 10px;
  padding: 20px;
  border: 1px solid #eceefd;
  border-radius: 5px;
  width: 90%;
  color: #5262ed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-size: 16px;
  text-align: center;
  background-color: #eceefd;

  &:hover {
    border: 1px solid #444df2;
    background-color: #eceefd;
    color: #5262ed;
  }

  &:focus {
    border: 1px solid #686868;
    background-color: #eceefd;
  }
}

h1 {
  color: #444df2;
  font-size: 46px;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 20px;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  width: 100%;
}

a {
  font-family: "Figtree" !important;
  text-decoration: none;
  color: #797ef3;

  &:hover {
    color: #444df2;
    background-color: #eceefe;
    border-radius: 30px;
    padding: 5px 30px;
    font-weight: 500;
    cursor: pointer;
  }
}

.message {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 30px 30px 0 30px;
  padding: 50px;
  background: #444df2;
  color: white;
  box-shadow: 0px 6px 10px 0px #00000033;
  font-weight: 700;
  font-size: 36px;
  z-index: 1000;
}

@media (max-width: 1250px) {
    .message {
        padding: 20px 30px;
        font-size: 22px;
    }
}

@media (max-width: 650px) {
  p {
    width: 100% !important;
  }
}

@media (max-width: 410px) {
  .google-mobile {
    font-size: 1rem !important;
  }
}

@media (max-width: 380px) {
  .google-mobile {
    font-size: 0.75rem !important;
    gap: 12px !important;

    img {
      width: 30px;
    }
  }
}

@media (max-height: 1000px) {
  h1 {
    font-size: 32px;
  }

  p {
    margin: 8px;
    font-size: 16px;
  }

  input {
    height: 40px;
    margin: 4px;
    padding: 0 12px;
    font-size: 14px;
  }

  hr {
    margin: 14px;
  }

  .mobile-mt {
    margin-top: 0.75rem !important;
  }

  .mobile-m {
    margin: 1rem !important;
  }

  .googleButton {
    height: 40px;
    margin: 0;
  }

  .mobile-btns {
    button {
      margin: 8px;
      width: 125px;
      height: 40px;
      font-size: 12px;
    }
  }
}

@media (max-height: 700px) {
  .bigAlert {
    padding: 6px;
    font-size: 15px;
  }
}
