<div>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="flex flex-column align-items-center w-full"
    novalidate>
    <h1>Anmeldung</h1>
    <p class="w-8 text-center">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.</p>

        
    <div class="w-full flex flex-column align-items-center">
        <input [disabled]="this.authService.loginSuccess" type="text" [(ngModel)]="email" (ngModelChange)="changeInput()" placeholder="Email" name="email" #mail="ngModel" autocomplete="email" required>
        @if (!mail.valid && !mail.disabled && mail.touched) {<div class="alert"> <span>*Diese E-Mail-Adresse ist leider ungültig</span>
        </div>}
    </div>
    <div class="w-full flex flex-column align-items-center">
        <input [disabled]="this.authService.loginSuccess" type="password" [(ngModel)]="epassword" (ngModelChange)="changeInput()" placeholder="Password" name="password" autocomplete="current-password"
            #password="ngModel" required>
        @if (!password.valid && !password.disabled && password.touched) {<div class="alert"> <span>Falsches Passwort. Bitte noch einmal versuchen.</span></div>}
    </div>

    @if (this.authService.fehlerMeldung) {

        <div class="bigAlert">
            <span>{{this.authService.fehlerMeldung}}</span>
        </div>
    }

    <div class="mt-5 mobile-mt">
        <a (click)="forgotPW()">Passwort vergessen?</a>
    </div>


    <div class="flex w-full align-items-center justify-content-center m-5 mobile-m">
        <hr>ODER
        <hr>
    </div>
    <div class="flex w-full h-full justify-content-center align-items-center">
        <button type="button" class="googleButton" (click)="googleLogin()" title="register">
            <div class="flex align-items-center justify-content-center text-lg font-bold google-mobile" style="gap: 20px">
                <img src="/img/google.svg" alt="Logo-Google">
                Anmelden mit Google
            </div>
        </button>
    </div>
    <div class="flex w-full h-full justify-content-center align-items-center mobile-btns">
        <button [disabled]="this.authService.loginSuccess" type="submit" [ngClass]="{'test': !mail.valid || !password.valid}" title="login"
            name="registrieren">Anmelden</button>
        <button type="reset" class="gast" [ngClass]="{'test2': !mail.valid || !password.valid}"
            (click)="loginAsGuest()" title="back" name="back">Gäste-Login</button>
    </div>
</form>
</div>

@if (this.authService.showMessage) {
    <mat-card class="message">Anmelden</mat-card>
}