<section class="flex">
    <img class="avatar" src="./img/1.svg" alt="">

    <div class="flex flex-column gap-2">
        <div class="flex align-items-center" style="gap: 20px;">
            <h2 class="m-0">Noah Braun</h2>
            <span>11:11 Uhr</span>
            <app-thread-emoji data-aos="fade-up"></app-thread-emoji>
        </div>

        <div class="text-bubble">
            Blumenkohl ist gut für dich
        </div>
    </div>
</section>


<app-thread-my-emoji></app-thread-my-emoji>