section {
    padding: 16px 40px;
    gap: 20px;

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .text-bubble {
        border-radius: 0 30px 30px 30px;
        background-color: #eceefe;
        padding: 15px;
    }

    app-thread-emoji {
        position: fixed;
        right: -100%;
    }

    &:hover {
        cursor: pointer;
        background-color: #eceefe;

        .text-bubble {
            background-color: white;
        }
    }

    &:hover app-thread-emoji {
        animation: slideIn 0.1s forwards;
    }
}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
      right: 72px;
    }
  }