<main>
  <div class="wrapper">
    <section class="edit-channel-header">
      <div class="channel-name">
        <img src="./img/tag.png" />
        <h3>Entwicklerteam</h3>
      </div>
      <img
        [src]="closeImg"
        class="close"
        (mouseenter)="changeCloseImg(true)"
        (mouseleave)="changeCloseImg(false)"
        (click)="closeDialog()"
      />
    </section>

    <section #editChannelNameSection class="channel-info">
      <div class="arrange-sub-div">
        <h4 #title1 class="transition">Channel-Name</h4>
        <p (click)="editModeName()" class="transition" #editName>Bearbeiten</p>
      </div>
      <div class="channel-name" #channelName>
        <img src="./img/tag.png" />
        <p *ngIf="!inEditMode">Entwicklerteam</p>
        <input
          type="text"
          placeholder="Entwicklerteam"
          *ngIf="inEditMode"
          class="input-channel-name"
        />
      </div>
    </section>

    <section class="channel-info">
      <div class="arrange-sub-div">
        <h4>Beschreibung</h4>
        <p>Bearbeiten</p>
      </div>
      <div class="current-channel-info">
        <p>Hier kommt dann irgendwann die Beschreibung des Channels rein</p>
      </div>

      <hr class="divider" />

      <h4>Erstellt von</h4>
      <p class="channel-creator">Noah Braun</p>
    </section>
  </div>

  <section>
    <button class="leave-channel-button">Channel verlassen</button>
  </section>
</main>
