<main>
  <div class="wrapper">
    <section class="edit-channel-header">
      <div class="edit-channel-header-child">
        <div class="channel-name">
          <img src="./img/tag.png" class="headline-tag" />
          <h3>{{ selectedChannel.name }}</h3>
        </div>
        <img [src]="closeImg" class="close" (mouseenter)="changeCloseImg(true)" (mouseleave)="changeCloseImg(false)"
          (click)="closeDialog()" />
      </div>
    </section>

    <section #editChannelNameSection class="channel-info edit-channel-name">
      <div class="arrange-sub-div">
        <h4 #title1 class="transition">Channel-Name</h4>
        <p *ngIf="!selectedChannel.isPrivate" (click)="editChannelName()" class="transition" #editName>
          Bearbeiten
        </p>
      </div>
      <div class="channel-name" #channelName>
        <img src="./img/tag.png" class="edit-name-tag" />
        <p *ngIf="!inEditModeName">
          {{ selectedChannel.name }}
        </p>
        <input type="text" [placeholder]="placeholderText | async" *ngIf="inEditModeName" class="input-channel-name"
          #updatedChannelName />
      </div>
    </section>

    <section #editChannelDescriptionSection class="channel-info">
      <div class="channel-description-wrapper">
        <div class="arrange-sub-div">
          <h4 class="transition" #title2>Beschreibung</h4>
          <p (click)="editChannelDescription()" class="transition" #editDescription>
            Bearbeiten
          </p>
        </div>
        <div class="current-channel-info" #channelDescription>
          <p *ngIf="!inEditModeDescription">
            {{ selectedChannel.description }}
          </p>
          <input type="text" [placeholder]="channelService.channel.description" *ngIf="inEditModeDescription"
            class="input-channel-name" #updatedChannelDescription />
        </div>
      </div>

      <hr class="divider" />

      <h4>Erstellt von</h4>
      <p #channelCreator class="channel-creator">{{ channelCreatorName }}</p>
    </section>


    <section class="channel-info only-mobile-view">
      <app-dialog-channel-members [isMobileAndInChannelInformation]="isMobileAndInChannelInformation"></app-dialog-channel-members>
    </section>

  </div>

  <section>
    <button class="leave-channel-button" (click)="onLeaveChannel()">Channel verlassen</button>
  </section>
</main>