<main>
  <div class="wrapper">
    <section class="edit-channel-header">
      <div class="channel-name">
        <img src="./img/tag.png" />
        <h3>Entwicklerteam</h3>
      </div>
      <img
        [src]="closeImg"
        class="close"
        (mouseenter)="changeCloseImg(true)"
        (mouseleave)="changeCloseImg(false)"
        (click)="closeDialog()"
      />
    </section>

    <section #editChannelNameSection class="channel-info">
      <div class="arrange-sub-div">
        <h4 #title1 class="transition">Channel-Name</h4>
        <p (click)="editChannelName()" class="transition" #editName>
          Bearbeiten
        </p>
      </div>
      <div class="channel-name" #channelName>
        <img src="./img/tag.png" />
        <p *ngIf="!inEditModeName">Entwicklerteam</p>
        <input
          type="text"
          placeholder="Entwicklerteam"
          *ngIf="inEditModeName"
          class="input-channel-name"
        />
      </div>
    </section>

    <section #editChannelDescriptionSection class="channel-info">
      <div class="channel-description-wrapper">
        <div class="arrange-sub-div">
          <h4 class="transition" #title2>Beschreibung</h4>
          <p
            (click)="editChannelDescription()"
            class="transition"
            #editDescription
          >
            Bearbeiten
          </p>
        </div>
        <div class="current-channel-info" #channelDescription>
          <p *ngIf="!inEditModeDescription">
            Hier kommt dann irgendwann die Beschreibung des Channels rein
          </p>
          <input
            type="text"
            placeholder="Hier kommt dann irgendwann die Beschreibung des Channels rein"
            *ngIf="inEditModeDescription"
            class="input-channel-name"
          />
        </div>
      </div>

      <hr class="divider" />

      <h4>Erstellt von</h4>
      <p #channelCreator class="channel-creator">Noah Braun</p>
    </section>
  </div>

  <section>
    <button class="leave-channel-button">Channel verlassen</button>
  </section>
</main>
