main {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  padding: clamp(0rem, -0.375rem + 2vw, 0.25rem) clamp(0rem, -1.875rem + 10vw, 1.25rem);
  cursor: pointer;
  &:hover {
    background: rgba(236, 238, 254, 1);
  }
}

.img-container {
  width: clamp(2.5rem, 1.5625rem + 5vw, 3.125rem);
  height: clamp(2.5rem, 1.5625rem + 5vw, 3.125rem);

  img {
    width: clamp(2.5rem, 1.5625rem + 5vw, 3.125rem);
    height: clamp(2.5rem, 1.5625rem + 5vw, 3.125rem);
    border-radius: 100%;
    object-fit: cover;
  }
}

.online-status {
  width: clamp(0.5rem, 0.125rem + 2vw, 0.75rem);
  height: clamp(0.5rem, 0.125rem + 2vw, 0.75rem);
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  right: 0;
  bottom: 0;
}

.green {
  background-color: #92C83E;
}

.grey {
  background-color: #686868;
}

p {
  text-wrap: nowrap;
  font-size: clamp(0.875rem, 0.6875rem + 1vw, 1rem);
}