/* You can add global styles to this file, and also import other style files */
@import "fonts.scss";


* {
    font-family: 'Nunito' !important;    
}


html,
body {
    height: 100%;
}

 .cdk-global-scrollblock {
    overflow: hidden !important;
}

body {
    margin: 0;
    background-color: #ECEEFE;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #535AF1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #444DF2;
}


.emoji{
    width: 25px;
    height: 25px;
    margin-bottom: -3px;
}


.user-verlinkung{
    color: orange;
    background-color: #583bf4;
    padding: 7px;
    border-radius: 25px;
    border: 2px  black;
    cursor: pointer;
}

.channel-verlinkung{
    color: rgb(0, 255, 0);
    background-color: #583bf4;
    padding : 7px;
    border-radius: 25px;
    cursor: pointer;
}

