/* You can add global styles to this file, and also import other style files */
@import "fonts.scss";


* {
    font-family: 'Nunito' !important;
    
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #ECEEFE;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #535AF1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #444DF2;
}