<div class="h-screen w-full">
    <div class="h-full flex flex-column">
        <div>
            <app-header [activeUserChange]="activeUserChange"
                [activeGoogleUserChange]="activeGoogleUserChange"></app-header>
        </div>
        <div class="h-full flex">
            <app-sidenav [activeUserChange]="activeUserChange"
                [activeGoogleUserChange]="activeGoogleUserChange"></app-sidenav>
            <div class="flex mt-6">
                <router-outlet />
            </div>
        </div>
    </div>
</div>